
.main-header h2 {
    padding: 30px 0 10px 0;
   color: var(--ion-color-tertiary-contrast);
}
ion-toolbar {
    text-align: center;
}
.main-title {
    width: 100%;
    text-align: center;
}

ion-img {
    margin: 30px 0;
}
.cover {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/public/images/polipi.png");
    background-size:cover;
}

.cover .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}