ion-toggle {
    display: block;
}

.main-title {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid var(--ion-color-tertiary);
}

ion-label {
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid var(--ion-color-secondary);
}

ion-range {
    padding-left: 5px;
}

ion-toggle {
    padding-top: 28px;
    padding-left: 0;
}

.questions {
    margin-top: 20px;
}

.question {
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid var(--ion-color-primary);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}