.result-page {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
}

.result-page .center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.result-page .result-message {
    margin: 10px 0;
}