.progress-bar {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    list-style: none;
    margin: 0;
    padding: 50px 20px 30px 20px;
}

.progress-bar .progress-item {
    margin-top: 5px;
    height: 10px;
    background: white;
    border-radius: 3px;
}

.progress-bar .progress-item.completed {
    background: var(--ion-color-secondary);
}